{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block head %}
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
{% endblock %}
{% block body %}
<div id="wrap" style="width: 100%;text-align:center">
    <section id="error-404" class="cover-bg no-sep screen-height" >
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mega-title">正在马不停蹄的建设中... "</h2>
                    <br>
                    <a href="/" class="btn btn-lg btn-primary"><i class="icon icon-arrow-left"></i> Go back home</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}